################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/xLiAd.MinioEx
/xLiAd.MinioEx/bin/Debug
/xLiAd.MinioEx/obj
/xLiAd.MinioEx.AspNetCore/bin/Debug/netstandard2.0
/xLiAd.MinioEx.AspNetCore/obj
